

<nav id='side-nav' class='d-none d-md-block navbar-dark'>
    <div id='side-nav-content'>
        <div id='side-nav-header'>
            <a class="navbar-brand" href="{% link index.html %}">
                {{ site.title }}
            </a>
            <p class=navbar-description>{{ site.description }}</p>
        </div>
        <ul class='navbar-nav flex-fill'>
            {% for item in site.navigation %}
                {% if item.active != false %}
                    <li class='nav-item {% if page.url == item.href %}active{% endif %}'>
                        <a class='nav-link' href="{{item.href}}">{{item.name}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>