$body-background: #fff;

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $body-background;
}

h3 {
    font-size: 1.5rem;
}

#wrapper {
    display: flex;
    width: 100%;
}

#wrapper > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    display: flex;
    align-items: center;
    padding: 1rem;
}