$sidebar-width: 300px;
$nav-background: #660099;
$nav-content-background: #323232;
$nav-color: #ffffff;
$nav-content-color: #cccccc;

/* #region top-nav */
#top-nav {
    background-color: $nav-background;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px;
}

#top-nav .navbar-toggler {
    color: $nav-color;
    border-color: rgba($nav-color, .7);
}

#top-nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
/* #endregion */
/* #region side-nav */
#side-nav {
    min-height: 100vh;
    min-width: $sidebar-width;
    color: $nav-color;
    background-color: $nav-background;
}

#side-nav .navbar-brand {
    margin: 0 0 1rem 0;
    font-size: 2.5em;
}

#side-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    height: 100vh;
    width: $sidebar-width;
    background-color: $nav-content-background;
}

#side-nav-header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: $nav-background;
    border-bottom-color: lighten($color: $nav-background, $amount: 15);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

#side-nav-header p {
    margin-top: 1rem;
}

#side-nav-content .navbar-nav {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

#side-nav .nav-item {
    padding: 1rem 3rem;
}

#side-nav .nav-item a {
    margin-left: -1.2rem;
    color: $nav-content-color;
}

/* #endregion */
