---
layout: default
---

<nav id='top-nav' class='d-flex d-md-none navbar navbar-expand-md navbar-dark'>
    <a class="navbar-brand" href="{% link index.html %}">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-nav-content" 
            aria-controls="top-nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id='top-nav-content' class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            {% for item in site.navigation %}
                <li class="nav-item {% if page.url == item.href %}active{% endif %}">
                    <a class="nav-link" href="{{item.href}}">{{item.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<div id='wrapper'>
    <nav id='side-nav' class='d-none d-md-block navbar-dark'>
        <div id='side-nav-content'>
            <a class="navbar-brand" href="{% link index.html %}">
                {{ site.title }}</br>
                Blog
            </a>
            <p class=navbar-description>{{ site.description }}</p>
            <ul class='navbar-nav flex-fill'>
                {% for item in site.navigation %}
                    <li class='nav-item {% if page.url == item.href %}active{% endif %}'>
                        <a class='nav-link' href="{{item.href}}">{{item.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class='container'>
        <div id='page' class='my-md-4'>
            <div class='col'>
                {{ content }}
            </div>
        </div>
    </div>
</div>